@import 'mixins';

/* GRID SETUP */

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 2vw;
  grid-column-gap: 6vw;
  grid-template-areas:
  "image title title"
  "image left-fields right-fields"
  "image border-container border-container";
  grid-template-columns: 1fr 0.5fr 0.5fr;

  @include on-mobile {
    grid-template-areas:
    "image"
    "title"
    "left-fields"
    "right-fields"
    "border-container";
    grid-template-columns: 1fr;
  }

  @include on-phablet {
    grid-template-areas:
    "image image"
    "title title"
    "left-fields right-fields"
    "border-container border-container";
    grid-template-columns: 0.5fr 0.5fr;
  }
}

h2 {
  grid-area: title;
}

.left-fields {
  grid-area: left-fields;
}

.right-fields {
  grid-area: right-fields;
}

.border-container {
  grid-area: border-container;
}

img {
  max-width: 100%;
  grid-area: image;
  align-self: center;
}

app-field {
  display: block;
  margin-bottom: 5px;
}

button {
  border: none;
  min-width: 100px;
  border: none;
  height: 28px;
  align-self: center;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 0 15px 0 15px;
  color: var(--text-color);
}

h4 {
  display: inline-block;
  margin: 0 20px 0 0;
}
