img {
  max-width: 100%;
  grid-area: image;
  align-self: center;
}

h2 {
  grid-area: title;
}

.left-fields {
  grid-area: left-fields;
}

.right-fields {
  grid-area: right-fields;
}

.border-container {
  grid-area: border-container;
}

app-field {
  display: block;
  margin-bottom: 5px;
}

button {
  border: none;
  min-width: 100px;
  border: none;
  height: 28px;
  align-self: center;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 0 15px 0 15px;
}

h4 {
  display: inline-block;
  margin: 0 20px 0 0;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 2vw;
  grid-column-gap: 6vw;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    grid-template-areas:
    "image"
    "title"
    "left-fields"
    "right-fields"
    "border-container";
    grid-template-columns: 1fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    grid-template-areas:
    "image image"
    "title title"
    "left-fields right-fields"
    "border-container border-container";
    grid-template-columns: 0.5fr 0.5fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    grid-template-areas:
    "image title title"
    "image left-fields right-fields"
    "image border-container border-container";
    grid-template-columns: 1fr 0.5fr 0.5fr;
  }
}
