:host {
  max-width: 100%;
  height: 80px;
  display: block;
  top: 0;
  box-shadow: -2px 1px 9px -5px rgba(0, 0, 0, 0.46);
  background-color: white;
}

h1 {
  margin: 0;
  font-size: 27px;
}

.icon {
  margin-right: 0.5em;
  font-size: 18px;
}

button {
  float: right;
  border:none;
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 18px;
  justify-self: end;
}


.header-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80px;
  align-items: center;
}
