@import 'variables';

:host {
  max-width: 100%;
  height: 100px;
  display: block;
  top: 0;
  box-shadow: $shadow;
  background-color: var(--el-color);
  transition: $fade-animation;
}

h3 {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 5px;
}
p {
  margin: 0;
  text-align: center;
}

.sam-text {
  font-family: 'Palanquin', sans-serif;
}
