<div class="container">
  <div class="form-control-container" (click)="dropClick()">
    <p class="sm-text-bold">{{(value) ? value : selectText | titlecase}}</p>
    <i *ngIf="!value" class="fa fa-chevron-{{dropOpen ? 'up': 'down'}} input-icon"></i>
    <i *ngIf="value" class="fa fa-times icon"></i>
  </div>
  <div *ngIf="dropOpen" class="dropdown-content">
    <div class="list-container">
      <ul>
        <li class="sm-text-bold" *ngFor="let item of values" (click)="itemSelected(item)">{{item}}</li>
      </ul>
    </div>
  </div>
</div>

