@import 'variables';
@import './mixins';

html {
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-family: 'Nunito Sans', sans-serif;
  overflow-y: scroll;
  transition: background-color 1s linear;
}

body {
  margin: 0;
  padding: 0;
}

.content-container {
  position: relative;
  max-width: 1068px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 2em 0 2em;
}

.shape {
  @include element-defaults;
  box-shadow: $shadow;
  &:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    transition: none;
  }
}

.form-control-container {
  @include element-defaults;
  padding: 10px 20px 10px 35px;
  width: fit-content;
  box-shadow: $shadow;
}

.sm-text-bold {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}

html, body {
  width: 100%;
  height: 100%;
}
