@import 'mixins';

.list-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
  "text-input dropdown"
  "country-list country-list";
  padding-top: 30px;
  margin-bottom: 1rem;

  @include on-mobile {
    grid-template-areas:
      "text-input"
      "dropdown"
      "country-list";
    grid-template-rows: 60px 60px 1fr;
    grid-template-columns: 1fr;
  }
}

app-drop-down {
  justify-self: end;
  grid-area: dropdown;

  @include on-mobile {
    justify-self: start;
  }
}

app-country-list {
  grid-area: country-list;
}

app-text-input {
  grid-area: text-input;
}
