<div infinite-scroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="50"
     (scrolled)="loadMoreCountries()"
     class="content-container list-container"
     [formGroup]="filterForm">
    <app-text-input formControlName="country" placeholder="Search for a country"></app-text-input>
    <app-drop-down (clearSelection)="clearRegion()" formControlName="region" [values]="regionDrop | async" selectText="Filter by Region"></app-drop-down>
    <app-country-list (countrySelected)="loadCountry($event)" [countries]="countries | async | paginate: listSize"></app-country-list>
</div>
